#game-page {
  display: grid;
  grid-template-rows: 2fr repeat(5, 1fr) 1fr;
  grid-template-columns: 1fr 2.5fr 0.5fr;
}

.room-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.room-info .room-name {
  grid-row: 1;
  grid-column: 1;
  font-size: 28px;
  align-self: center;
  margin: 12px;
}

.room-info #back-to-rooms {
  grid-row: 2;
  grid-column: 1;
  padding: 8px;
  background-color: #ededed;
  border-radius: 8px;
  align-self: center;
  margin: 12px;
  box-shadow: 2px 3px 5px gray;
}

.room-info #back-to-rooms:hover {
  background-color: #d5d5d5;
}

.room-info #back-to-rooms::before {
  content: '<';
  margin-right: 8px;
}

#user-items {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, 1fr);
  grid-row: 2 / 7;
  grid-column: 1;
}

#user-items .user-item-1 {
  height: 100%;
  grid-row: 1;
  grid-column: 1;
}

#user-items .user-item-2 {
  height: 100%;
  grid-row: 2;
  grid-column: 1;
}

#user-items .user-item-3 {
  height: 100%;
  grid-row: 3;
  grid-column: 1;
}

#user-items .user-item-4 {
  height: 100%;
  grid-row: 4;
  grid-column: 1;
}

#user-items .user-item-5 {
  height: 100%;
  grid-row: 5;
  grid-column: 1;
}

.info {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
}

.info .status {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
}

.info .name {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  justify-self: start;
  padding-left: 8px;
}

.info .status-bar {
  grid-row: 2;
  grid-column: 1 / 3;
  align-self: center;
  margin: 8px;
  height: 50%;
  border: 1px solid gray;
}

#game-field {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-row: 1 / 7;
  grid-column: 2;
  border: 1px solid black;
  margin: 24px 0 0 24px;
  padding: 20px;
  border-radius: 12px;
}

#game-field #readiness {
  grid-column: 2;
  align-self: center;
  padding: 24px;
  font-size: 32px;
  background-color: #ededed;
  box-shadow: 2px 3px 5px gray;
  border-radius: 4px;
}

#game-field #readiness:hover {
  background-color: #d5d5d5;
}

#timer {
  grid-column: 1 / 4;
  font-size: 36px;
  display: grid;
  align-items: center;
  justify-content: center;
}

#game-field #keyboardRace {
  display: grid;
  grid-column: 1 / 4;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#game-field #keyboardRace .main-text {
  display: flex;
  grid-row: 2;
  grid-column: 2;
  align-self: center;
  justify-self: center;
}

#game-field #keyboardRace #counter {
  display: grid;
  grid-row: 1;
  grid-column: 3;
  align-self: start;
  justify-self: end;
}

#game-field #keyboardRace .letter {
  background-color: transparent;
  font-size: 20px;
}

#game-field #keyboardRace .letter.bg {
  background-color: rgb(255, 253, 122);
}