#rooms-page {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

#rooms-page .title {
  border: 1px dashed black;
  grid-row: 1;
  grid-column: 2;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  align-self: center;
  font-size: 24px;
  font-weight: bold;
  background-color: #ededed;
}

#rooms-page .user-info {
  display: flex;
  grid-row: 1;
  grid-column: 3;
  justify-self: end;
  margin: 8px;
}

.user-info #logout {
  align-self: end;
  padding: 8px;
  margin: 8px;
  background-color: #4aa4ff;
  border-radius: 8px;
  color: #fff;
}

.user-info #username {
  align-self: start;
  padding: 8px;
  margin: 8px;
  color: black;
}

.rooms-menu {
  display: grid;
  grid-row: 2 / 5;
  grid-column: 1 / 4;
}

.rooms-menu #create-room{
  align-self: start;
  justify-self: start;
  margin: 12px;
  padding: 8px;
  background-color: #ededed;
  border-radius: 8px;
  border: 1px dashed black;
}